.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(246, 246, 243);
}
.MuiCardHeader-title.MuiTypography-body2{
   font-weight: bold !important;
   font-size: 20px;
}

.MuiCardHeader-subheader.MuiTypography-body2{
   font-size: 12px !important;
   color: rgb(175, 169, 169) !important;
}
.MuiCard-root{
  width: 500px;
  margin: 0;
}

.MuiPaper-root.MuiCard-root{
  margin-top: 20px;
}

.MuiTypography-root.MuiCardHeader-title.MuiTypography-h5{
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
}

.MuiTypography-root.MuiCardHeader-subheader.MuiTypography-body1{
  font-size: 15px;
  color: #000;
}

div.MuiCardHeader-root{
  padding-bottom: 0;
}

.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary{
  color: #000;
  font-size: 15px;
  padding-top: 15px;
}

.MuiCardContent-root{
  padding-top: 0 !important;
}

